<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>What's the word?</title>

	<link rel="stylesheet" href="/static/reset.css">
	<link rel="stylesheet" href="/static/style.css">
	<link rel="stylesheet" href="/static/index.css">
</head>
<body>
	<header>
		<a href="/"><img alt="Cursive text that says: What's the word?" src="/static/whats-the-word-logo.png" class="logo" /></a>

		<p>Upload a <strong>subtitles file</strong> or an <strong>audio file</strong> and get a summary of its contents!</p>
	</header>

	<form action="{{ url_for('notes') }}" method="post" enctype="multipart/form-data">
		<p>Upload a subtitles file. Accepted file formats: <code>.srt</code></p>

		<input type="file" name="transcript_file" id="transcript_file" accept=".srt">
		<input type="submit" value="submit">
	</form>

	<form action="{{ url_for('notes') }}" method="post" enctype="multipart/form-data">
		<p>Upload an audio file. Accepted file formats: <code>.mp3</code></p>

		<input type="file" name="audio_file" id="audio_file" accept=".mp3">
		<input type="submit" value="submit">
	</form>

	<p class="blurb"><em>What’s the Word?</em> is a lecture-notes assistant web app that condenses hefty audio lectures and transcripts into manageable bullet-point summaries. Online education has generated millions of hours of Zoom lectures. Combing through these lectures for exam-relevant information is both boring and tedious. <em>What’s the Word?</em> offers a solution by summarizing hour-length videos into 1-page study guides, allowing students to review lecture material more conveniently, comprehensively, and efficiently.</p>
</body>
</html>
