<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Output — What's the word?</title>

	<link rel="stylesheet" href="/static/reset.css">
	<link rel="stylesheet" href="/static/style.css">
</head>
<body>
	<header>
		<h1>What's the Word?</h1>
	</header>

	<div>
		{% for result in notes %}
    <tr>
        <p>{{ result }}</p>
    </tr>
{% endfor %}
	</div>
</body>
</html>
